.hero {
  height: 35vh;
  padding-top: 70px;
  width: 100%;
  background: var(--color-primary-light);
  /* background-image: linear-gradient(
    to bottom,
    var(--color-primary-light),
    transparent
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero--true {
  height: 27vh;
}
.hero__logo {
  height: 100px;
  width: max-content;
}
.hero__logo--true {
  height: 67px;
}
