@import url("https://fonts.googleapis.com/css2?family=Lora&family=Cormorant+SC:wght@300;400&family=Merriweather:wght@300&display=swap");
:root {
  --default-font-size: 1.6rem;
  --color-black: #000;
  --color-white: #fff;
  --color-heading: #232;
  --color-grey-dark: #777;
  --muted-text-color: #777;
  --color-primary: rgb(27, 189, 154);
  --color-primary-light: rgb(88, 219, 175);
  --color-primary-dark: rgb(24, 131, 99);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; put this in body so that it is inherited */
  box-sizing: inherit;
}
/* Root font styles are in html selector */
html {
  /* font-size: 10px; Now 1 rem is 10px, but don't use px for this because user device's font-size will be overwritten */
  font-size: 62.5%; /*as 16 is default, 62.5*16 = 10px which is what we want, that is 1rem = 10px now*/
}
/* Put fonts in body selector and not in universal sslector */
body {
  box-sizing: border-box;
  font-weight: 400;
  /* font-size: 16px; */
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--muted-text-color);
  overflow-x: hidden;
  /* padding: 30px; */
  /* padding: 3rem; means 3*10 = 30px */
}
html,
body {
  width: 100%;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  /* height: 100%; */
}
